#default Values for various options. 

#INPUT CONFIGURATION PARAMETERS
interfaceDefinition = atomDistances
distanceThreshold = 4
interfaceResidueType = ASA
interfaceResidueThreshold = 1	            
similarityType = ignore
similarityThreshold = 10

#date is currently ignored and hard coded
date = 2006-10-01
surfaceResidueThreshold = 5


#  // PROGRAM CONFIGURATION
#presence of lowercase=true will force the input(protien ID) into lowercase before using it
lowercase=false

# Removes the extension from the outputFileName( Requested feature). Can be turned off by setting to false
removeOuputFileNameExtension = true

#Where output file will be written to
outDir= /usr/share/apache-tomcat-6.0.16/webapps/NPSHOMPPI/uploadData/1319959276-0.0640069300579889-Sample

