#default Values for various options. 

#INPUT CONFIGURATION PARAMETERS
interfaceDefinition = atomDistances
distanceThreshold = 5
interfaceResidueType = ASA
interfaceResidueThreshold = 1	            
similarityType = ignore
similarityThreshold = 10

#date is currently ignored and hard coded
date = 2006-10-01
surfaceResidueThreshold = 5


#  // PROGRAM CONFIGURATION
#presence of lowercase=true will force the input(protien ID) into lowercase before using it
lowercase=false

# Removes the extension from the outputFileName( Requested feature). Can be turned off by setting to false
removeOuputFileNameExtension = true

#Where output file will be written to
outDir= /data/web_servers/lxue/NPSHOMPPI/uploadData/2016-5-9-18-20.44.ArgMeth_resubmit/tr_E7ESA6_E7ESA6_HUMAN_PTK2_protein_tyrosine_kinase_2_OS_Homo_sapiens_GN_PTK2_PE_4_SV_1

